[defaults]
inventory = ../hosts.ini
host_key_checking = False
retry_files_enabled = False

# Use built-in default callback, but print results as YAML
stdout_callback = ansible.builtin.default
result_format = yaml

bin_ansible_callbacks = True
gathering = explicit

[ssh_connection]
pipelining = True
